body {
    height: 2000px;
    background: #cacaca;
}

#gaspar_button {
    cursor: pointer;
    position: fixed;
    right: 35px;
    bottom: 50px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1824a;
}

#gaspar_preview_container {
    background: white;
    position: fixed;
    right: 20px;
    bottom: 135px;
    border-radius: 15px;
    width: 240px;
    height: 90px;
    display: none;
    text-align: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#gaspar_preview_container::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 20px;
    border-top: 30px solid white;
    border-bottom-left-radius: 10px;
    border-right: 30px solid transparent;
}

#gaspar_preview_container .preview_text {
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    line-height: 20px;
    position: absolute;
    bottom: 10px;
    left: 12px;
    right: 12px;
    top: 35px;
    overflow-y: hidden;
}

#gaspar_preview_container img {
    position: absolute;
    bottom: 67px;
}

#close_gaspar {
    display: none;
}

#gaspar_container {
    position: fixed;
    right: 65px;
    width: 344px;
    bottom: 150px;
    display: none;
    flex-direction: column;
}

#gaspar_container #gaspar_header {
    width: 100%;
    height: 72px;
    border-radius: 7px 7px 0 0;
    background: #f1824a;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#gaspar_container #gaspar_header #header_text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    bottom: 18px;
}

#gaspar_container #gaspar_header img {
    position: absolute;
    bottom: 46px;
}

#gaspar_container #gaspar_body {
    height: 343px;
    width: 100%;
    background: white;
    padding: 0 14px 0 0;
    box-sizing: border-box;
    border-bottom: 2px solid #F4F4F4;
}

#gaspar_container #gaspar_body #message_queue {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 343px;
    padding: 12px 17px 8px 0;
    box-sizing: border-box;
}

#gaspar_container #gaspar_body #message_queue .message {
    max-width: 200px;
    font-family: 'Roboto', 'sans-serif';
    line-height: 18px;
    font-size: 14px;
    padding: 10px 12px;
    margin-top: 12px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

#gaspar_container #gaspar_body #message_queue .gaspar_message {
    background: #f1824a;
    border-radius: 15px 15px 15px 0;
    font-weight: 400;
    color: white;
    align-self: flex-start;
    margin-left: 48px;
}

#gaspar_container #gaspar_body #message_queue .user_message {
    background: #f4f4f4;
    border-radius: 15px 15px 0 15px;
    font-weight: 400;
    color: #222222;
    align-self: flex-end;
}

#gaspar_container #gaspar_body #message_queue .button {
    background: white;
    border: 1px solid #f1824a;
    color: #f1824a;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-radius: 15px;
    text-align: center;
    padding: 8px 12px;
    box-sizing: border-box;
    transition: .3s ease-in;
    cursor: pointer;
    margin-top: 12px;
    max-width: 200px;
    margin-left: 48px;
}

#gaspar_container #gaspar_body #message_queue .filter {
    font-family: 'Roboto', 'sans-serif';
    line-height: 20px;
    font-size: 14px;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 15px 15px 0 15px;
    font-weight: 400;
    color: #222222;
    align-self: flex-end;
    width: 200px;
    position: absolute;
    bottom: -115px;
    z-index: 100;
    display: none;
}

#gaspar_container #gaspar_body #message_queue .filter .filter_input{
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
}

#gaspar_container #gaspar_body #message_queue .filter .filter_input .filter_input_changeable{
    width: 150px;
    margin-left: 10px;
}

#gaspar_container #gaspar_body #message_queue .filter .filter_input .filter_input_changeable:focus{
    outline: none;
}

#gaspar_container #gaspar_body #message_queue .filter .filter_options{
    overflow-y: scroll;
    height: 200px;
    background: white;
}

#gaspar_container #gaspar_body #message_queue .filter .filter_options::-webkit-scrollbar {
    width: 3px;
}

#gaspar_container #gaspar_body #message_queue .filter .filter_options::-webkit-scrollbar-track {
    background: transparent;
}

#gaspar_container #gaspar_body #message_queue .filter .filter_options::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 4px;
    width: 10px;
}

#gaspar_container #gaspar_body #message_queue .filter .filter_options .filter_option{
    cursor: pointer;
    height: 30px;
    padding-left: 12px;
}
#gaspar_container #gaspar_body #message_queue .filter .filter_options .filter_option:hover{
    background: #f4f4f4;
}

#gaspar_container #gaspar_body #message_queue .button:hover {
    background: #fdebe4;
    font-weight: 500;
    border-color: #fdebe4;
    transition: .3s ease-in;
}

#gaspar_container #gaspar_body  #message_queue::-webkit-scrollbar {
    width: 9px;
}

#gaspar_container #gaspar_body  #message_queue::-webkit-scrollbar-track {
    background: transparent;
}

#gaspar_container #gaspar_body  #message_queue::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 4px;
    width: 10px;
}


#gaspar_container #gaspar_body  #message_queue::-webkit-scrollbar-thumb:hover {
}

#gaspar_container #gaspar_body #message_queue .carousel_holder {
    position: relative;
    overflow: visible;
    padding: 0 48px;
}

#gaspar_container #gaspar_body #message_queue .card_carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: visible;
    width: 250px;
    height: 250px;
    min-height: 250px;
    position: relative;
}

#gaspar_container #gaspar_body #message_queue .card_carousel::-webkit-scrollbar {
    display: none;
}

#gaspar_container #gaspar_body #message_queue .carousel_holder .carousel_button {
    position: absolute;
    top: 50%;
    z-index: 99;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);
    text-align: center;
    border-radius: 100%;
    padding: 7px 0;
    font-size: 16px;
    color: #929292;
    cursor: pointer;
}

#gaspar_container #gaspar_body #message_queue .carousel_holder .carousel_button.left_carousel_button {
    left: 7px;
}

#gaspar_container #gaspar_body #message_queue .carousel_holder .carousel_button.right_carousel_button {
    right: -30px;
}

#gaspar_container #gaspar_body #message_queue .wine_card {
    border-radius: 7px;
    background: #f4f4f4;
    width: 211px;
    min-width: 211px;
    height: 247px;
    display: flex;
    flex-direction: column;
    margin-right: 11px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header {
    background: url("../img/background.png");
    background-size: cover;
    padding: 14px 15px 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 7px 7px 0 0;
    position: relative;
    height: 145px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_header_name {
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_header_origin {
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images .wine_color {
    margin-right: 4px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images .wine_image {
    margin-right: 4px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images .wine_image img{
    width: 79px;
    height: 79px;
    border-radius: 100%;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_images .wine_country img{
    border: 3px solid white;
    width: 31px;
    box-sizing: border-box;
    border-radius: 100%;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_properties {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: -36px;
    width: 100%;
    left: 0;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_properties .wine_property {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    align-items: center;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_properties .wine_property .property_number {
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 12px;
    padding: 5px 0;
    box-sizing: border-box;
    line-height: 14px;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    background: #99192f;
    border-radius: 100%;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_header .wine_properties .wine_property .property_name {
    color: #222222;
    text-transform: capitalize;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description {
    padding: 0 8px 6px;
    margin-top: 35px;
    overflow-y: scroll;
    box-sizing: border-box;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description::-webkit-scrollbar {
    width: 3px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description::-webkit-scrollbar-track {
    background: transparent;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 4px;
    width: 10px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description .wine_description_name {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description .wine_description_text {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
    margin-top: 4px;
}

#gaspar_container #gaspar_body #message_queue .wine_card .wine_card_description .wine_description_text .notes_read_more{
    color: #f1824a;
    font-style: italic;
    cursor: pointer;
}

#gaspar_container #gaspar_body #message_queue #waves_message {
    display: none;
    position: absolute;
    bottom: 78px;
    margin-bottom: 12px;
}

#gaspar_container #gaspar_body #message_queue #waves_message #wave {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#gaspar_container #gaspar_body #message_queue #waves_message #wave .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 1px;
    background: white;
    animation: wave 1.3s linear infinite;
}

#gaspar_container #gaspar_body #message_queue #waves_message #wave .dot:nth-child(2) {
     animation-delay: -1.1s;
 }

#gaspar_container #gaspar_body #message_queue #waves_message #wave .dot:nth-child(3) {
     animation-delay: -0.9s;
}

@keyframes wave {
    0%, 60%, 100% {
        transform: initial;
    }

    30% {
        transform: translateY(-10px);
    }
}

#gaspar_container #gaspar_bottom {
    width: 100%;
    height: 77px;
    border-radius: 0 0 0 7px;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
}

#gaspar_container #gaspar_bottom #gaspar_input {
    width: 248px;
    overflow-y: scroll;
    position: absolute;
    left: 16px;
    top: 12px;
    cursor: text;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}

#gaspar_container #gaspar_bottom #gaspar_input::before {
    content: attr(placeholder);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: .4s ease-in;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}

#gaspar_container #gaspar_bottom #gaspar_input:focus::before {
    content: '';
    opacity: 0;
    transition: .4s ease-in;
}

#gaspar_container #gaspar_bottom #send_button {
    position: absolute;
    right: 48px;
    color: #f1824a;
    top: 14px;
    cursor: pointer;
}

#gaspar_container #gaspar_bottom #gaspar_input:focus {
    outline: none;
}

#gaspar_container #gaspar_bottom #gaspar_input::-webkit-scrollbar {
    width: 3px;
}

#gaspar_container #gaspar_bottom #gaspar_input::-webkit-scrollbar-track {
    background: transparent;
}

#gaspar_container #gaspar_bottom #gaspar_input::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 4px;
    width: 10px;
}

/*#gaspar_container #gaspar_bottom::after {*/
/*content: '';*/
/*background: url("../img/chatbot body_tail.png");*/
/*position: absolute;*/
/*!*border-top: 34px solid white;*!*/
/*!*border-left: 34px solid transparent;*!*/
/*height: 34px;*/
/*width: 34px;*/
/*right: 0;*/
/*bottom: -34px;*/
/*}*/

#gaspar_container #gaspar_bottom .gaspar_tail {
    width: 50px;
    height: 34px;
    position: absolute;
    right: 0;
    bottom: -33px;
}

#gaspar_container #gaspar_bottom #bottom_text {
    position: absolute;
    bottom: -5px;
    color: black;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 14px;
    font-size: 12px;
}

#gaspar_container #gaspar_bottom #bottom_text #orange_text {
    font-weight: 500;
    color: #f1824a;
    text-decoration: none;
}


